.flex-container {
    padding: 1px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
    background-color:  darkorange;
    align-items: center;
}

.flex-item1 {
    flex-grow: 20;
    width: auto;
    height: auto;
    font-size: xx-large;
    padding-left: 20px;
    
}

.flex-item2 {
    flex-grow: 100;
    width: auto;
    height: auto;
    display: flex;
    font-size: large;
    justify-content: space-around;

}


.container {
    display: grid;
    grid-gap: 0px;
    width: 50%;
    height: auto;
    grid-template-columns: 500px 200px;
    grid-template-rows: auto 50px;
    margin-left: 25%;
    margin-top: 50px;
}
.name {
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-left: 3px solid black;
    grid-column-start: 1;
    grid-column-end: 3;
}
.content {
    border: 3px solid black;
    margin-bottom: 5px;
}
.name1 {
    resize: none;
    height: 20px;
    width: 99%;
}
.content1 {
    resize: none;
    height: 200px;
    width: 99%;
}
.picture {
    
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    height: 228px;
}
.picture1 {
    resize: none;
    height: 200px;
    width: 97%;
}
.button {
    margin-bottom: 100px;
    grid-column-start: 1;
    grid-column-end: 3;
}



.container2 {
    margin-left: 25%;
    width: 50%;
}





.otherblogs {
    display: flex;
    font-size: xx-large;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.flex-item3 {
    margin: 50px;
}